/*  General CSS  */
body {
    color: #757575;
    font-family: 'Raleway', sans-serif;
    background: #fff;
}

a {
    color: #4F84C4;
    transition: 0.3s;
}

a:hover, a:active, a:focus {
    color: #666666;
    outline: none;
    text-decoration: none;
}

p {
    color: #757575;
    padding: 0;
    margin: 0 0 15px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #888888;
    margin: 0 0 15px 0;
    padding: 0;
}

h4, h5, h6 {
    font-weight: 400;
}

.mt-100 {
    margin-top: 100px;
}

/* Back to Top CSS */
.back-to-top {
    position: fixed;
    display: none;
    background: #05445E;
    color: #ffffff;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 1;
    font-size: 44px;
    right: 15px;
    bottom: 15px;
    transition: background 0.3s;
    z-index: 9;
}

.back-to-top i {
    color: #ffffff;
}

.back-to-top:hover{
    background: #003B73;
}

/* Nav CSS */
#nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    padding: 20px 0;
    z-index: 999;
}

#nav.nav-sticky {
    height: 70px;
    padding: 8px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    transition: all 0.3s;
}

#nav .navbar {
    height: 100%;
    background: transparent !important;
}

#nav .navbar-brand {
    padding: 0;
}

#nav .navbar-brand img {
    position: absolute;
    max-height: 60px;
    margin-top: -27px;
    transition: all .5s;
}

#nav.nav-sticky .navbar-brand img {
    position: absolute;
    max-height: 50px;
    margin-top: -25px;
    transition: all .5s;
}

#nav .nav-link, #nav .nav-link:focus, #nav .nav-link:hover, #nav .nav-link.active {
    color: #ffffff;
}

#nav .nav-link:hover, #nav .nav-link.active {
    color: #189AB4;
    background: #D4F1F4;
    transition: none;
}

#nav .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #D4F1F4;
}

@media (min-width: 768px) {
    #nav,
    #nav .navbar {
        background: #05445E !important;
    }
    
    #nav a.nav-link {
        padding: 8px 15px;
        font-size: 15px;
        text-transform: uppercase;
    }
}

@media (max-width: 768px) {   
    #nav,
    #nav .navbar {
        background: rgba(0, 0, 0, 1) !important;
    }
    
    #nav a.nav-link {
        padding: 5px;
    }
    
    #nav .dropdown-menu {
        box-shadow: none;
    }
    
    #nav .container-fluid {
        padding: 0;
    }
    .navbar-nav {
        padding-top: 44px;
    }    
}


/* Header CSS */
.header {
    position: relative;
    width: 100%;
    background-color: #D4F1F4;
    margin-top: 100px;
}

.header .carousel-item {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.header .carousel-img {
    text-align: center;
}

.header .carousel-img img {
    max-width: 100%;
    max-height: 100%;
}

.carousel-img {
    max-width: 60%;
    margin: 0 auto;
}

.header .first-content, .header .second-content, .header .third-content {
    padding: 15px 15px 15px 76px;
    text-align: center;
}

.header .first-content h2, .header .second-content h2, .header .third-content h2 {
    color: #183D3D;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}

.header .first-content h2 {
    color: #ff725e;
}

.header .second-content h2 {
    color: #178573;
}

.header .third-content h2 {
    color: #3262cc;
}

.header .first-content p, .header .second-content p, .header .third-content p {
    color: #818FB4;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 25px;
}

.header .first-content p {
    color: #263238;
}

.header .second-content p {
    color: #36464f;
}

.header .third-content p {
    color: #515a60;
}

.header .first-content .btn, .header .second-content .btn, .header .third-content .btn {
    padding: 12px 30px;
    color: #ffffff;
    border-radius: 0;
    background: #189AB4;
}

.header .first-content .btn {
    background: #263238;
}

.header .second-content .btn {
    background: #36464f;
}

.header .third-content .btn {
    background: #515a60;
}

.header .first-content .btn:hover {
    background: #ff725e;
}

.header .second-content .btn:hover {
    background: #178573;
}

.header .third-content .btn:hover {
    background: #3262cc;
}

.carousel-control-next i,
.carousel-control-prev i {
    font-size: 45px;
}

.carousel-indicators li {
    width: 20px;
    height: 0px;
    background: #189AB4;
}

ul.carousel-indicators {
    width: 6rem;
    height: 19px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0 auto 16px;
}


@media (max-width: 768px) {
    .header .first-content, .header .second-content, .header .third-content {
        padding: 15px 15px 56px;
    }
}

/* Section Header CSS */
.section-header {
    max-width: 68rem;
    position: relative;
    margin: 0 auto 80px;
    padding-bottom: 25px;
}

.section-header h2 {
    color: #003B73;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.section-header::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 5px;
    background: #003B738f;
    border-radius: 0 0 5px 5px;
    bottom: 0;
    left: calc(50% - 50px);
}

.action-header::after {
    background: #ffffff6e;
}

.section-header p {
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    color: #003B73;
    text-align: center;
    margin: 0;
}

@media(max-width: 768px){
    .section-header h2{
        font-size: 26px;
    }
}

/* About + Single CSS */
.about, .single {
    position: relative;
    padding: 90px 0 60px 0;
    background: #fff;
    overflow: hidden;
}

.about .col-md-12,
.about .col-md-6,
.single .col-md-12,
.single .col-md-6 {
    margin-bottom: 30px;
}

.about .about-img,
.single .single-img {
    position: relative;
    overflow: hidden;
}

.about .about-img img,
.single .single-img img {
    width: 100%;
}

.about .about-content, .single .single-content {
    position: relative;
    width: 80%;
    margin: -100px auto 0 auto;
    padding: 30px;
    background: #edfdff;
    box-shadow: 0 6px 10px -5px;
    overflow: hidden;
}

.about .about-content h2, .single .single-content h2 {
    font-size: 25px;
    font-weight: 700;
    color: #183D3D;
}

.about .about-content p, .single .single-content p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #ee5e68;
}

.about .btn, .single .btn {
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    background: #189AB4;
    border-radius: 0;
}

.about .btn:hover, .single .btn:hover {
    background: #0074B7;
}

@media(max-width: 768px){
    .about .about-content, .single .single-content {
        width: 92%;
        padding: 30px 20px;
    }
}

/* Services CSS */
.service {
    background-color: #bdd7ee;
    text-align: center;
    padding: 90px 0 60px 0;
    overflow: hidden;
}

.service .service-item {
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

.service .service-icon {
    position: relative;
    width: 100%;
    background: #4F84C4;
    overflow: hidden;
}

.service-icon img{
    width: 100%;
}

.service .service-icon i {
    font-size: 90px;
    line-height: 0;
    color: #ffffff;
}

.service .service-detail {
    position: relative;
    width: 100%;
    padding: 30px 15px;
    background: #f2f2f2;
    overflow: hidden;
}

.service .service-detail h4,
.service .service-detail h4 a {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.service-detail a{
    color: #41729F;
}

.service-detail a:hover{
    color: #003B73;
}

.service .service-detail p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #001824;
    margin: 0;
}

/* Call To Action CSS */
.call-to-action {
    position: relative;
    padding: 90px 0;
    background: #41729F;
}

.call-to-action .container {
    max-width: 700px;
}

.call-to-action .section-header h2 {
    color: #ffffff;
}

.call-to-action .section-header::before {
    background: #ffffff;
}

.call-to-action .section-header p {
    color: #ffffff;
}

.call-to-action .btn {
    padding: 15px;
    color: #4F84C4;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #ffffff;
    border-radius: 0;
    transition: 0.3s;
}

.call-to-action .btn:hover {
    color: #ffffff;
    background: #189AB4;
}

/* Pricing CSS */
.pricing {
    padding: 90px 0 60px 0;
    overflow: hidden;
}

.pricing .price-content {
    position: relative;
    background: #ffffff;
    text-align: center;
    box-shadow: 0 6px 10px -5px;
    overflow: hidden;
    margin-bottom: 30px;
}

.pricing .price-plan {
    display: block;
    background: #5885AF;
    margin: 0 0 30px;
    padding: 20px 0;
}

.price-content:hover .price-plan, .price-content:hover .price-btn{
    background : #05445E;
}

.pricing .price-plan i {
    color: #ffffff;
    font-size: 60px;
    line-height: 80px;
}

.pricing .price-title {
    display: block;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.pricing .price-amount {
    position: relative;
    font-family: 'Arial, Helvetica', sans-serif;
    color: #ffffff;
    font-size: 60px;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
}

.pricing .price-amount span {
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-transform: lowercase;
}

.pricing .price-amount span:first-child {
    position: relative;
    top: -27px;
    left: -5px;
}

.pricing .price-date {
    color: #ffffff;
    font-size: 12px;
    margin-top: 5px;
    text-transform: uppercase;
    margin-bottom:0;
}

.pricing .price-details {
    font-size: 16px;
    line-height: 26px;
    list-style: none;
    text-align: left;
}

.pricing .price-details li {
    padding: 5px 0;
}

.backend {
    padding-left: 1.28rem;
}

.pricing .price-details li i.ion-md-checkmark {
    color: #4F84C4;
    margin-right: 8px;
}

.pricing .price-details li i.ion-md-close {
    color: #ea4335;
    margin-right: 10px;
}

.pricing .btn {
    color: #ffffff;
    padding: 10px 30px;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
}

.pricing .price-btn {
    margin-top: 10px;
    margin-bottom: 30px;
    background: #5885AF;
    color: #ffffff;
}

.pricing .features-price-btn {
    background: #05445E;
}

.pricing .features-price-btn:hover {
    background: #5885AF;
}

.pricing .features-price .price-plan {
    background: #05445E;
}

.pricing .features-price .price-plan p{
    color:#FFFFFF;
}

.pricing .features-price .price-plan .price-amount, 
.pricing .features-price .price-plan .price-amount span {
    color: #ffffff;
}

.pricing .features-price .price-plan .price-title {
    color:#ffffff;
}


/* Our Skills CSS */
.skills {
    background-color: #bdd7ee;
    position: relative;
    padding: 90px 0 60px 0;
    overflow: hidden;
}

.skills .skill-item {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.skills .skill-item h3 {
    font-size: 22px;
    font-weight: 700;
    color: #05445E;
    margin-bottom: 15px;
}

.skills .skill-name {
    position: relative;
    width: 100%;
}

.skills .skill-name p {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #985743;
    margin-bottom: 5px;
}

.skills .skill-name p:last-child {
    float: right;
}

.skills .progress {
    margin-bottom: 15px;
    border-radius: 0;
}

.skills .progress .progress-bar {
    background: #189AB4;
    border-radius: 0;
}


/* Counters CSS */
.counters {
    position: relative;
    width: 100%;
    padding: 90px 0;
    background: #e7ecef;
    overflow: hidden;
}

.counters i {
    display: inline-block;
    font-size: 90px;
    line-height: 0;
    color: #274c77;
    margin-bottom: 10px;
}

.counters h2 {
    font-family: 'Arial, Helvetica', sans-serif;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 5px;
    color: #274c77;
}

.counters p {
    font-size: 22px;
    font-weight: 600;
    color: #274c77;
}


/* Portfolio CSS */
.portfolio {
    position: relative;
    padding: 90px 0 60px 0;
    background-color: #b3ebf3;
    overflow: hidden;
}

.portfolio .portfolio-item {
    margin-bottom: 30px;
    overflow: hidden;
}


.portfolio .portfolio-item .portfolio-img {
    position: relative;
    background: #000000;
    overflow: hidden;
    
}

.portfolio .portfolio-item .link-preview,
.portfolio .portfolio-item .link-details {
    position: absolute;
    display: inline-block;
    padding: 5px 0;
    line-height: 1;
    text-align: center;
    width: 45px;
    height: 35px;
    background: #4F84C4;
    border: 1px solid #ffffff;
    transition: 0.3s;
    opacity: 0;
}

.portfolio .portfolio-item .link-preview i,
.portfolio .portfolio-item .link-details i {
    font-size: 22px;
    color: #ffffff;
}

.portfolio .portfolio-item .link-preview:hover,
.portfolio .portfolio-item .link-details:hover {
    background: #ffffff;
    border: 1px solid #4F84C4;
}

.portfolio .portfolio-item .link-preview:hover i,
.portfolio .portfolio-item .link-details:hover i {
    color: #353535;
}

.portfolio .portfolio-item .link-preview {
    left: 0;
    top: calc(50% - 18px);
}

.portfolio .portfolio-item .link-details {
    right: 0;
    top: calc(50% - 18px);
}

.portfolio .portfolio-item:hover .link-preview {
    opacity: 1;
    left: calc(50% - 50px);
}

.portfolio .portfolio-item:hover .link-details {
    opacity: 1;
    right: calc(50% - 50px);
}

.portfolio .portfolio-item .portfolio-info {
    position: relative;
    width: 100%;
    padding: 30px 15px;
    text-align: center;
    background: #ffffff;
    overflow: hidden;
}

.portfolio .portfolio-item .portfolio-info h3 {
    font-size: 18px;
    font-weight: 700;
    color: #60A3D9;
    cursor: pointer;
    margin-bottom: 10px;
}

.portfolio-info h3:hover{
    color: #0074B7 !important;
}

.portfolio .portfolio-item .portfolio-info p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #001824;
    margin: 0;
}

/* Team CSS */
.team {
    position: relative;
    padding: 90px 0;
    overflow: hidden;
}

.team .team-item {
    margin-bottom: 30px;
    overflow: hidden;
}

.team .team-item .team-img {
    position: relative;
    background: #000000;
    overflow: hidden;
    
}

.team .team-item .team-social {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    height: 35px;
    top: 0;
    left: 0;
    transition: 0.3s;
    opacity: 0;
}

.team .team-item .team-social a {
    display: inline-block;
    padding: 5px 0;
    line-height: 1;
    text-align: center;
    width: 35px;
    height: 35px;
    background: #4F84C4;
    border: 1px solid #ffffff;
}

.team .team-item .team-social a i {
    font-size: 22px;
    color: #ffffff;
}

.team .team-item .team-social a:hover {
    background: #ffffff;
    border: 1px solid #4F84C4;
}

.team .team-item .team-social a:hover i {
    color: #353535;
}

.team .team-item:hover .team-social {
    opacity: 1;
    top: calc(50% - 18px);
}

.team .team-item .team-info {
    position: relative;
    width: 100%;
    padding: 30px 15px;
    text-align: center;
    background: #f3f3f3;
    overflow: hidden;
}

.team .team-item .team-info h3 {
    font-size: 18px;
    font-weight: 700;
    color: #0074B7;
    margin-bottom: 10px;
}

.team .team-item .team-info p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #60A3D9;
    text-transform: uppercase;
}

/* Testimonials CSS */
.testimonials {
    position: relative;
    padding: 90px 0 60px 0;
    background: #68A4F1;
    overflow: hidden;
}

.testimonials .testimonial-item {
    position: relative;
    margin: 0 15px 30px 15px;
    background: #ffffff;
}

.testimonials .testimonial-img {
    position: relative;
    background: #000000;
    overflow: hidden;
}

.testimonial-img img{
    width: 100% !important;
}

.testimonials .testimonial-text {
    position: relative;
    width: 100%;
    padding: 30px 15px;
    text-align: center;
    background: #ffffff;
    overflow: hidden;
}

.testimonials .testimonial-text h3 {
    font-size: 20px;
    font-weight: 700;
    color: #189AB4;
    margin-bottom: 10px;
}

.testimonials .testimonial-text h4 {
    font-size: 12px;
    font-weight: 700;
    color: #05445Ea6;
    text-transform: uppercase;
}

.testimonials .testimonial-text p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #001824;
    margin: 0;
}

.testimonials .owl-nav,
.testimonials .owl-dots {
    margin-top: 5px;
    text-align: center;
}

.testimonials .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
}

.testimonials .owl-dot.active {
    background-color: #05445Ea6;
}

@media (max-width: 575px) {
    .testimonials .testimonial-text {
        padding: 25px;
    }
}

/* Clients CSS */
.clients {
    position: relative;
    padding: 90px 0;
    overflow: hidden;
}

.clients .section-header p {
    padding-bottom: 10px;
}

.clients img {
    max-width: 100%;
    opacity: 1;
    transition: 0.3s;
    padding: 15px 0;
}

.clients img:hover {
    opacity: .5;
}

.clients .owl-nav,
.clients .owl-dots {
    margin-top: 5px;
    text-align: center;
}

.clients .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

.clients .owl-dot.active {
    background-color: #4F84C4;
}

/* Contact CSS */
.contact {
    position: relative;
    padding: 90px 0;
    overflow: hidden;
}

.contact .container {
    max-width: 900px;
}

.contact .container .col-md-6 {
    padding: 0;
    background: #ffffff;
}

.contact .form {
    background: #ffffff;
    padding: 30px;
    color: #353535;
}

.form-group input{
    color: #189AB4 !important;
}

.contact .form input, .contact .form textarea {
    padding: 10px 0;
    border-color: #189AB4 transparent #189AB4 transparent;
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
}

.contact .form input:focus, .contact .form textarea:focus {
    border-color: #4F84C4 transparent #4F84C4 transparent;
}

.contact .form button[type="submit"] {
    color: #ffffff;
    background: #05445E;
    border-radius: 0;
}

.contact .form button[type="submit"]:hover {
    background: #189AB4;
}

.contact .map {
    position: relative;
    background: #ffffff;
}

.contact .map iframe {
    width: 100%;
    height: 375px;
    margin-bottom: -7px;
}

/* Footer CSS */
.footer {
    position: relative;
    padding: 0 0 30px 0;
    background: #061E47;
}

.footer .footer-top {
    background: #0C2D48;
    padding: 60px 0 30px 0;
}

.footer .footer-top .footer-info,
.footer .footer-top .footer-links,
.footer .footer-top .footer-contact,
.footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

.footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #ffffff;
    color: #4F84C4;
    line-height: 1;
    padding: 9px 0;
    margin-right: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
    background: #4F84C4;
    color: #ffffff;
}

.footer .footer-top h4 {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.footer .footer-top h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 50px;
    border-bottom: 2px solid #ffffff;
}

.footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-top .footer-links ul i {
    padding-right: 8px;
    color: #ffffff;
    font-size: 16px;
}

.footer .footer-top .footer-links ul li {
    padding: 7px 0;
}

.footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-top .footer-links ul a {
    font-size: 14px;
    color: #ffffff;
}

.footer .footer-top .footer-links ul a:hover {
    color: #4F84C4;
}

.footer .footer-top .footer-contact p {
    color: #ffffff;
    line-height: 26px;
    overflow: hidden;
}

.footer .footer-top .footer-newsletter input[type="email"] {
    padding: 6px 8px;
    width: 60%;
    border: 1px solid #ffffff;
    background: transparent;
    color: #ffffff;
}

.footer .footer-top .footer-newsletter input[type="submit"] {
    border: 0;
    width: 40%;
    padding: 6px 0;
    text-align: center;
    color: #4F84C4;
    border: 1px solid #ffffff;
    background: #ffffff;
    transition: 0.3s;
    cursor: pointer;
}

.footer .footer-top .footer-newsletter input[type="submit"]:hover {
    color: #ffffff;
    background: #4F84C4;
    border: 1px solid #4F84C4;
}

.footer .footer-top .footer-newsletter p {
    color: #ffffff;
    font-size: 14px;
}

.footer .credit,
.footer .copyright {
    text-align: center;
    padding-top: 30px;
}

@media (min-width: 768px) {
    .footer .credit {
        text-align: right;
    }
    
    .footer .copyright {
        text-align: left;
    }
}
